{% extends 'layouts_1.html'%}

{% load static %}

{% block 'mainsection1' %}

<section class="health" style="padding: 12px;">
     <!-- Page Title -->
     <div class="page-title position-relative" style="padding: 10px;">
        <div class="container d-lg-flex justify-content-between align-items-center">
          <h2 class="mb-2 mb-lg-0">Health</h2>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="{% url 'home'%}">Home</a></li>
              <li class="current"><a href="{% url 'categories'%}">Categories</a></li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->
      <br>
{% for row in health %}
	<div class="container">
		<div class="row">
			<div class="col-12  mb-5 mb-lg-0">

				<article class="row mb-5">
					<div class="col-md-4 mb-4 mb-md-0">
						<div class="post-slider slider-sm">
							<img loading="lazy" src="{{row.image.url}}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
							<img loading="lazy" src="{{row.image1.url}}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
							<img loading="lazy" src="{{row.image2.url}}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h5"><a class="post-title" href="post-elements.html">{{row.title}}</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">{{row.name}}</a>
							</li>
							<li class="list-inline-item">{{row.date}}</li>
							<li class="list-inline-item">Categories : {{row.categories}} 
							</li>
							<li class="list-inline-item">Tags : {{row.tags}} 
							</li>
						</ul>
						<p>{{row.text}}</p> <a href="post-elements.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article>

				<!-- <article class="row mb-5">
					<div class="col-md-4 mb-4 mb-md-0">
						<div class="post-slider slider-sm">
							<img loading="lazy" src="{%static 'post/post-1.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h5"><a class="post-title" href="post-details-1.html">Cheerful Loving Couple Bakers Drinking
                        Coffee</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
							<li class="list-inline-item">Date : March 14, 2020</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photography </a>
							</li>
							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">Photo </a> ,<a href="#!" class="ml-1">Image </a>
							</li>
						</ul>
						<p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, …</p> <a href="post-details-1.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article>
				<article class="row mb-5">
					<div class="col-md-4 mb-4 mb-md-0">
						<div class="post-slider slider-sm">
							<img loading="lazy" src="{%static 'post/post-2.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
							<img loading="lazy" src="{%static 'post/post-4.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h5"><a class="post-title" href="post-details-2.html">Cheerful Loving Couple Bakers Drinking
                        Coffee</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
							<li class="list-inline-item">Date : March 14, 2020</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photobooth </a>
							</li>
							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">Booth </a> ,<a href="#!" class="ml-1">Image </a>
							</li>
						</ul>
						<p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, …</p> <a href="post-details-2.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article>
				<article class="row mb-5">
					<div class="col-md-4 mb-4 mb-md-0">
						<div class="post-slider slider-sm">
							<img loading="lazy" src="{%static 'post/post-3.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h5"><a class="post-title" href="post-details-2.html">Cheerful Loving Couple Bakers Drinking
                        Coffee</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
							<li class="list-inline-item">Date : March 14, 2020</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Videography </a>
							</li>
							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">Video </a> ,<a href="#!" class="ml-1">Image </a>
							</li>
						</ul>
						<p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, …</p> <a href="post-details-2.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article>
				<article class="row mb-5">
					<div class="col-md-4 mb-4 mb-md-0">
						<div class="post-slider slider-sm">
							<img loading="lazy" src="{%static 'post/post-4.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
							<img loading="lazy" src="{%static 'post/post-1.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h5"><a class="post-title" href="post-details-1.html">Cheerful Loving Couple Bakers Drinking
                        Coffee</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
							<li class="list-inline-item">Date : March 14, 2020</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Four seasone </a>
							</li>
							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">Seasone </a>
								,<a href="#!" class="ml-1">New </a>
							</li>
						</ul>
						<p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, …</p> <a href="post-details-1.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article>
				<article class="row mb-5">
					<div class="col-md-4 mb-4 mb-md-0">
						<div class="post-slider slider-sm">
							<img loading="lazy" src="{%static 'post/post-5.jpg'%}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h5"><a class="post-title" href="post-details-1.html">Cheerful Loving Couple Bakers Drinking
                        Coffee</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
							<li class="list-inline-item">Date : March 14, 2020</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Newyork city </a>
							</li>
							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">City </a> ,<a href="#!" class="ml-1">Photo </a>
							</li>
						</ul>
						<p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, …</p> <a href="post-details-1.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article>
				<article class="row mb-5">
					<div class="col-12">
						<h3 class="h5"><a class="post-title" href="post-details-2.html">Cheerful Loving Couple Bakers Drinking
                        Coffee</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
							<li class="list-inline-item">Date : March 14, 2020</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Newyork city </a>
							</li>
							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">City </a> ,<a href="#!" class="ml-1">Photo </a>
							</li>
						</ul>
						<p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, the industry is fast becoming overcrowded, heaving with agencies offering similar services — on the …</p> <a href="post-details-2.html" class="btn btn-outline-primary">Continue Reading</a>
					</div>
				</article> -->
			</div>
		</div>
	</div>
	{% endfor %}
</section>

{% endblock %}